body{
    background-color: #333333;
}
.mainTitle{
    color: white;
}

.cardContainer{
    position: relative;
    text-align: center;
    color: white;
}
.centeredBottom {
    position: absolute ;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardItem{
    margin-bottom: 2px;
}
.role{
    border: 2px solid white;
    margin: 10px;
    padding: 2px;
    border-radius: 10px;
}

.filterNoItems{
    color: #999999;
}
.filterHasItems{
    color: #ffffff;
    cursor: pointer;
}
#ulFilter{                
    list-style-type: none;
    overflow: hidden;
}
#ulFilter li{
    display: table-cell;
}
#ulFilter li span {
    display: block;               
    text-align: center ;
    margin: auto;
}

#selectFilter {
    display: none;
}

#btnShowAll {
    background-color: #28C62D;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
@media (max-width: 960px) {
    #ulFilter     { 
        display: none !important; 
    }
    #selectFilter {
        display: inline-block; 
    }
    #btnShowAll{
        display: none !important;
    }
}

.styled-select {
    background: #ddcccccc;
    overflow: hidden;
    width: 100%;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    width: 100%;
}

.styled-select.slate {
    background: #ddcccccc;
    width: 100%;
}